body {
  padding-top: 90px;
  background-image: url('../img/background.gif');
  background-size: contain;
}

#navbar-search {
  padding: 10px 0;
}

/* #monkeybutt {
  margin-top: 10px;
} */

/* .nav-bar-main {
  margin-bottom: 40px;
} */

.form-group {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0px;
}

.btns {
  margin-top: 7px;
  margin-bottom: 7px;
}

.clear {
  margin-top: 7px;
  margin-bottom: 7px;
}

.navbar-header {
  padding-left: 15px;
}

/* #location-container {
  position: fixed;
} */

.location {
  opacity: 0.9;
}

.location img {
  height: 250px;
  width: 100%;
}

.navbar-brand {
  padding: 0;
  padding-left: 15px;
}

.navbar-brand img {
  height: 100%;
  width: 200px;
  border-radius: 5px;
}
